doctype 5
html(lang='en')
  head
    title Decompress
    meta(name='Description', content='Community day for designers and developers.')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(href='http://fonts.googleapis.com/css?family=Monoton', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', type='text/css', href='styles/styles.css')
  body
    header
      .wrapper
        #logo
          h1
            each letter in 'Decompress'.split('')
              span= letter

      #forkme
        a(href='https://github.com/decompressau/decompress.com.au') Fork me on GitHub

    .wrapper

      section

        h2 Community day for designers and developers.

        p Join <a href="http://cssconf.com.au">CSSConf</a> &amp; <a href="http://au.jsconf.com">JSConf</a> presenters and attendees on <strong>Friday April 11<sup>th</sup></strong> at the beautiful <strong>Melbourne University</strong> for the community-driven conclusion to an epic week of web events.

        p Bring your friends, partners and coworkers. See or give a lightning talk, run a workshop, share what you've learned, hack on a project, or just enjoy a cool drink and chat at the outdoor bar.

        p Proudly brought to you by <a href="http://twitter.com/markdalgleish">@markdalgleish</a> and the CSSConf and JSConf crew.

      section

        h3 Tickets

        p <strong>Entry is free for CSSConfAU and JSConfAU 2014 attendees.</strong> Otherwise, tickets are only $10, with coffee, snacks and wifi included.

        .form
          a.button(href="https://ti.to/cssconf-au/decompress") Purchase tickets

      section

        h3 News

        p Updates will be posted via our mailing list and the <a href='http://twitter.com/decompressau'>@decompressau</a> Twitter account. Sign up below to ensure you don't miss out:

        form.form.form--signup(action='http://jsconfau.createsend.com/t/j/s/obhjr/', method='post')
          input(name='cm-obhjr-obhjr', type='email', placeholder='Enter email address...', required)
          button(type='submit') Join the list

    section.grey

      .wrapper

        h3 Speakers and Workshoppers

        ul.speakers
          each speaker in speakers
            a(href='https://twitter.com/' + speaker.twitter, target='_blank', title=speaker.name)
              li.speakers__speaker(style='background-image:url(' + avatars[speaker.twitter] + ')')= speaker.name

        p More details will be announced soon. Want to join the lineup? <a href="https://twitter.com/decompressau">Let us know!</a>

    section.dark.sponsors

      .wrapper

        .columns

          .columns__column
            h4 Coffee Sponsor
            a(href='https://buildbox.io', target='_blank')
              img.logo.logo--buildbox(src='images/buildbox-logo.png', title='Buildbox')

          .columns__column
            h4 Food &amp; Drink Sponsor
            a(href='http://thoughtworks.com', target='_blank')
              img.logo.logo--thoughtworks(src='images/thoughtworks-logo.png', title='Thoughtworks')

        .columns

          .columns__column.columns__column--1of1
            h4 Supported By
            a(href='http://www.unimelb.edu.au/', target='_blank')
              img.logo.logo--melbourne-uni(src='images/melbourne-uni-logo.png', title='Melbourne University')


    script.
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '52df114bde2e260f0f000349');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
