doctype 5
html(lang='en')
  head
    title Decompress
    meta(name='Description', content='Community day for designers and developers.')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(href='http://fonts.googleapis.com/css?family=Monoton', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', type='text/css', href='styles/styles.css')
  body
    header
      .wrapper
        #logo
          h1
            each letter in 'Decompress'.split('')
              span= letter

      #forkme
        a(href='https://github.com/decompressau/decompress.com.au') Fork me on GitHub

    .wrapper

      section

        h2 Community day for designers and developers.

        p Join <a href="http://cssconf.com.au">CSSConf</a> presenters and attendees on <strong>Saturday March 28<sup>th</sup></strong>, in the stunning <strong>Arts House Meat Market</strong> for the community-driven conclusion to an epic week of web events.

        p Bring your friends, partners and coworkers. See or give a lightning talk, share what you've learned, hack on a project, or just enjoy a cool drink and chat at the bar.

        p If you're already heading to CSSConf, entry is free!

        p Proudly brought to you by <a href="http://twitter.com/markdalgleish">@markdalgleish</a> and the CSSConf team.

        .buttons

          a.button(href='http://lanyrd.com/2015/decompressau', target='_blank') View Event Schedule

          a.button(href='https://www.google.com.au/maps/place/Arts+House+Meat+Market/@-37.801651,144.954389,15z/data=!4m2!3m1!1s0x0:0x8b61205468637770', target='_blank') View Map

    section.grey

      .wrapper

        h3 Speakers and Mentors

        ul.speakers
          each speaker in speakers
            a(href='https://twitter.com/' + speaker.twitter, target='_blank', title=speaker.name)
              li.speakers__speaker(style='background-image:url(' + avatars[speaker.twitter] + ')')= speaker.name

        p Our generous community members will be covering a wide range of UI design and development related topics, including:

        .columns.columns--topics

          .columns__column
            ul.topics
              li React
              li Flux
              li Webpack
              li Front-end architecture
              li Functional programming

          .columns__column
            ul.topics
              li Nodebots
              li Creative coding and design
              li Performance
              li Accessibility
              li Internet of Things

        h3 Event Schedule

        .columns.columns--topics

          .columns__column

            dl.schedule

              dt 8:30 AM
              dd Registration, coffee

              dt 9:30 AM
              dd Lightning talks begin

              dt 12:20 PM
              dd Lunch break

          .columns__column

            dl.schedule

              dt 2:00 PM
              dd Lightning talks resume

              dt 5:20 PM
              dd Lightning talks finish

              dt 5:30 PM
              dd Decompress wraps up

        p For a full schedule of lightning talks, check out our <a href="http://lanyrd.com/2015/decompressau" target="_blank">Lanyrd event page</a>.

    .wrapper

      section

        blockquote(class="twitter-tweet" lang="en")
          p Watching <a href="https://twitter.com/keithpitt">@keithpitt</a> present about React with <a href="https://twitter.com/floydophone">@floydophone</a> in the audience is the entire point of <a href="https://twitter.com/decompressau">@decompressau</a> 👍<br>&mdash; Glen Maddern (@glenmaddern)
          a(href="https://twitter.com/glenmaddern/status/454436241073643520") April 11, 2014
        script(async src="//platform.twitter.com/widgets.js" charset="utf-8")
        small For more inspiration, search for <a href="https://twitter.com/search?f=realtime&q=%40decompressau&src=typd">@decompressau on Twitter</a>

        .tickets
          p Entry is free for all <a href="http://cssconf.com.au">CSSConf</a> attendees. Decompress tickets are only $20 and include coffee, lunch and snacks. It'll be one hell of a day, don't miss out.
          a.button(href="https://ti.to/cssconf-au/decompress-2015") Get your ticket now!

    .wrapper

      section

        h3 News

        p Updates will be posted via our mailing list and the <a href='http://twitter.com/decompressau'>@decompressau</a> Twitter account. Sign up below to ensure you don't miss out:

        form.form.form--signup(action='http://jsconfau.createsend.com/t/j/s/obhjr/', method='post')
          input(name='cm-obhjr-obhjr', type='email', placeholder='Enter email address...', required)
          button(type='submit') Join the list

    script.
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '52df114bde2e260f0f000349');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
