doctype 5
html(lang='en')
  head
    title Decompress
    meta(name='Description', content='Post {CSS|JS}ConfAU Community Hack Day')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(href='http://fonts.googleapis.com/css?family=Monoton', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', type='text/css', href='styles/styles.css')
  body
    #wrapper
      header
        #logo
          h1
            each letter in 'Decompress'.split('')
              span= letter
        h2 Post {CSS|JS}ConfAU Community Hack Day

      a(href='https://github.com/decompressau/decompress.com.au')
        img#forkme(src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')

      p An open community LAN party for front-end designers and developers.

      p Join <a href="http://cssconf.com.au">CSSConf</a> and <a href="http://au.jsconf.com">JSConf</a> presenters and attendees on Friday 11th April 2013 at the beautiful Melbourne University.

      p See or give a lightning talk, hack on a project, or just enjoy a cool drink and chat at the outdoor bar.

      p Tickets will be $10, with coffee, snacks and wifi included.

      p Proudly brought to you by <a href="http://twitter.com/markdalgleish">@markdalgleish</a> and the CSSConf and JSConf crew.

      form(action='http://jsconfau.createsend.com/t/j/s/obhjr/', method='post')
        p Ticket availability will be announced via our mailing list and the <a href='http://twitter.com/decompressau'>@decompressau</a> Twitter account. Sign up below to ensure you don't miss out:
        input(name='cm-obhjr-obhjr', type='email', placeholder='Email address', required)
        button(type='submit') Join the list

    script.
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '52df114bde2e260f0f000349');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
